checkpoints/
custom_checkpoints/
err-out/
format_dataset/data/
format_dataset_pred/
infer_results/
mapper/*files
mapper/llama*
mapper/gemma*
mapper/docs
mapper/full_training_eval/
**.conllu
**.jsonl
models/
sst*
table2Replike*
wandb/
*tugba*
.vscode/
data/